/* ************************************************************** */

/* BASIC SETUP */

/* ************************************************************** */

* {
  margin: 0;
  color: rgb(76, 76, 93);
  overflow-x: hidden;
}

html {
  padding: 0;
  max-width: 100vw;
}

/* ************************************************************** */

/* HEADER --- NAVBAR */

/* ************************************************************** */

header {
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 1;
}

.row-nav {
  padding: 1% 1%;
  background-color: rgb(252, 215, 112);
  flex: 1;
  display: flex;
}

.brand,
.main-nav {
  display: flex;
}
.brand {
  flex: 1;
}
.logo {
  width: auto;
  height: 50px;
}
.brand h5 {
  padding: 10px;
  margin-top: 2px;
  font-size: 120%;
  font-family: "Domine", serif;
}

.main-nav {
  flex: 0.1;
  list-style: none;
  padding-top: 15px;
}

.main-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  font-weight: bolder;
}

.main-nav li a:hover,
.main-nav li a:active {
  color: rgb(36, 163, 174);
}

.main-nav li {
  display: inline-flex;
  justify-content: flex-end;
  padding-right: 15px;
}

/* ************************************************************** */

/* SECTION */

/* ************************************************************** */

section {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;
}

section embed {
  width: 50%;
  height: 400px;
}

/* ************************************************************** */

/* FOOTER */

/* ************************************************************** */

footer {
  background-color: rgb(252, 215, 112);
  margin-top: 2%;
  padding: 1%;
  font-family: "Domine", serif;
}
.footer-nav {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
}

.foot-nav,
.icons {
  list-style: none;
  display: flex;
  font-size: 100%;
  text-transform: uppercase;
}

.foot-nav a,
.icons a {
  padding-left: 5px;
  padding-right: 5px;
}

.foot-nav a {
  text-decoration: none;
  border-right: 1px solid rgb(103, 102, 101);
}
.foot-nav #last {
  border-right: none;
}

.foot-nav a,
.address,
.copyright {
  font-family: "Domine", serif;
}

.foot-nav {
  flex: 1;
  padding: 0;
}

.address,
.copyright {
  text-align: center;
  font-family: "Domine", serif;
}
.address h3 a {
  font-size: 90%;
  font-family: "Domine", serif;
  text-decoration: none;
}
.address h5,
.address h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 90%;
}
.address span {
  font-size: 30px;
  font-family: "Domine", serif;
}
.lower-footer {
  background-color: rgb(230, 226, 223);
  padding: 1px;
  margin: 0;
}
.lower-footer h5 {
  font-size: 70%;
  padding: 10px;
}

@media screen and (max-width: 1024px) {
  /* ************************************************************** */
  /* NAVBAR */
  /* ************************************************************** */

  .main-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    font-weight: bolder;
  }
  .main-nav li {
    display: inline-flex;
    justify-content: flex-end;
    padding-right: 5px;
  }
  /* ************************************************************** */
  /* SECTION*/
  /* ************************************************************** */
  section embed {
    width: 100%;
    height: 600px;
  }
  /* ************************************************************** */
  /* FOOTER*/
  /* ************************************************************** */
  .foot-nav,
  .icons {
    list-style: none;
    display: flex;
    font-size: 50%;
    text-transform: uppercase;
  }
}

/* MAX WIDTH 550px */

@media screen and (max-width: 550px) {
  .foot-nav,
  .icons {
    list-style: none;
    display: flex;
    font-size: 50%;
    text-transform: uppercase;
  }

  .logo {
    width: auto;
    height: 30px;
  }
  .brand h5 {
    padding: 10px;
    margin-top: 2px;
    font-size: 50%;
    font-family: "Domine", serif;
  }

  .main-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 40%;
    font-weight: bolder;
  }
  .main-nav li {
    display: inline-flex;
    justify-content: flex-end;
    padding-right: 5px;
  }

  /* REUSABLE */
  /* rgb(11, 71, 136) */
}
